<div fxFlex="30"></div>
<div class="loader" fxFlex="100" fxLayoutAlign="center center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div fxLayout="column" *ngIf="!isLoading">
  <mat-form-field class="form">
    <input matInput placeholder="Search" #input [(ngModel)]="searchText" (keyup)="onSearch()">
  </mat-form-field>
<div fxLayoutAlign="center center" fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-md="column" class="wrapper">
  <div *ngFor="let newsItem of news">
    <app-card [urlToImage]="newsItem.urlToImage" [creator]=" newsItem.source.name" [publishedAt]="newsItem.publishedAt"
      [title]="newsItem.title" [description]="newsItem.description" (click)="goToDetails(newsItem)"></app-card>
  </div>
</div>
<div *ngIf="news.length === 0" class="search-error">No results found for "{{ searchText }}"</div>
</div>
<div fxFlex="30"></div>
